.force-hide {
	display: none !important;
}

/* Children counter Module */
.child-counter {
	margin-left: 7px;
}

/* Footer remover Module */
.remove-footer {
	margin-bottom: 0 !important;
}

/* Infinite scroll */
.next-page-bar {
	text-align: center;
	padding: 4px;
}
