#adM2parent, #adM1parent {
	display: none !important;
}

// header add
#site > .wrapper > .grid-full > .all-in {
	display: none;
}

// cookies
.annotation {
	display: none !important;
}
// inline comment add
[observeid] {
	display: none !important;
}

.orp-player-wrapper {
	display: none !important;
}

// footer add
.stickyAdDesktop {
	display: none !important;
}

// mikroblog side add
[id^=banner_rectangle], .scrollMe {
	display: none !important;
}

// pagination add
[id^=banner_bottom] {
	display: none !important;
}

// baner on top
.alert-polityka {
	display: none !important;
}

iframe {
	display: none !important;
}

// we need to leave iframes for videos
.videoWrapper iframe {
	display: block !important;
}
