.already-seen {
	filter: brightness(75%);
	background: inherit;

	transition: filter 100ms;

	&:hover {
		filter: unset;
	}
}

.iC {
	ul.sub {
		background: inherit;

		&>li {
			background: inherit;
		}
	}
}
